<router-outlet />
<app-header></app-header>

@if (this.settingsService.getSelectedTile() !== null) {
  @if (this.settingsService.getSelectedTile() === "pm") {
    <app-precious-metals></app-precious-metals>
  }

  @if (this.settingsService.getSelectedTile() === "sic") {
    <app-silver-in-coin></app-silver-in-coin>
  }

  @if (this.settingsService.getSelectedTile() === "gic") {
    <app-gold-in-coin></app-gold-in-coin>
  }
}

@if (this.settingsService.getSelectedTile() === null) {
  <app-tile-grid></app-tile-grid>
}