<router-outlet />
<app-header></app-header>

@if (this.settingsService.getSelectedTile() !== null) {
  <app-back-button></app-back-button>

  @if (
    this.settingsService.getSelectedTile() === 'pm' ||
    this.settingsService.getSelectedTile() === 'precious-metals'
  ) {
    <app-precious-metals></app-precious-metals>
  }

  @if (
    this.settingsService.getSelectedTile() === 'sic' ||
    this.settingsService.getSelectedTile() === 'silver-in-coins'
  ) {
    <app-silver-in-coin></app-silver-in-coin>
  }

  @if (
    this.settingsService.getSelectedTile() === 'gic' ||
    this.settingsService.getSelectedTile() === 'gold-in-coins'
  ) {
    <app-gold-in-coin></app-gold-in-coin>
  }

  @if (
    this.settingsService.getSelectedTile() === 'rac' ||
    this.settingsService.getSelectedTile() === 'right-angle-calculator'
  ) {
    <app-right-angle-calculator></app-right-angle-calculator>
  }

  @if (
    this.settingsService.getSelectedTile() === 'cpc' ||
    this.settingsService.getSelectedTile() === 'cleaning-payout-calculator'
  ) {
    <app-cleaning-payout-calculator></app-cleaning-payout-calculator>
  }

  @if (
    this.settingsService.getSelectedTile() === 'dsc' ||
    this.settingsService.getSelectedTile() === 'divider-spacing-calculator'
  ) {
    <app-divider-spacing-calculator></app-divider-spacing-calculator>
  }

  @if (
    this.settingsService.getSelectedTile() === 'itp' ||
    this.settingsService.getSelectedTile() === 'image-to-pdf'
  ) {
    <app-image-to-pdf></app-image-to-pdf>
  }

  @if (
    this.settingsService.getSelectedTile() === 'pmc' ||
    this.settingsService.getSelectedTile() === 'pdf-combiner'
  ) {
    <app-pdf-combiner></app-pdf-combiner>
  }
}

@if (this.settingsService.getSelectedTile() === null) {
  <app-tile-grid></app-tile-grid>
}
